html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    background-color: #fff;
}

a,
img {
    display: block;
    width: 100%;
}

.wrapper {
    max-width: 1124px;
    width: calc(100vw - 100px);
    margin: 0 auto;
}
.header {
    padding: 25px 0;
    border-bottom: 0.5px solid #333;
    box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.2);
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.header__title {
    font-size: 3em;
    font-weight: 700;
    text-transform: capitalize;
    width: max-content;
}

.header__form {
    align-self: stretch;
    display: flex;
    gap: 10px;
}

.header__input {
    padding: 10px;
    padding-left: 50px;
    font-size: 20px;
    font-family: inherit;
    color: inherit;
    border-radius: 10px;
    flex-grow: 1;
}
.btn {
    padding: 10px;
    padding-inline: 30px;
    font-size: 20px;
    border-radius: 10px;
    font-family: inherit;
    background-color: #000;
    color: #ddd;
}

/* main wrapper */
.main {
    padding-top: 20px;
}

.main__wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.img-box {
    margin-bottom: 20px;
}
